Test.txt linguist-language=AdBlock linguist-detectable
Test_Cookies.txt linguist-language=AdBlock linguist-detectable
Test_uBO_AG.txt linguist-language=AdBlock linguist-detectable
SFLB_Test/exclusions/*.txt linguist-language=AdBlock linguist-detectable
SFLB_Test/uBO_AG/*.txt linguist-language=AdBlock linguist-detectable
