@sectionsPath SFLB_Test
@versionFormat Year.Month.Day.TodayNumberOfCommits
@CIusername github-actions[bot]
@CIemail 41898282+github-actions[bot]@users.noreply.github.com
@updateListIfAnotherListUpdated Test.txt Test_uBO_AG.txt
@commitDesc SFLB Test
@messagesLang en_US
@timeLang pl_PL
@exclusionsPath SFLB_Test/exclusions
