[Adblock Plus 2.0]
! Title: Lista testowa
! Codename: Test
! Description: Lista przeznaczona do testowania skryptu.
! Last modified: @modified
! Version: @version
! Expires: 2 days
! Copyright © 2023 Filters Heroes
! Aktualizacja: @localizedDT
!
!
! Testy-1
@include test1
!
!
! Testy-2
@include test2
!
!
! Test łączenia
@include test1 + https://raw.githubusercontent.com/FiltersHeroes/ScriptsPlayground/master/SFLB_Test/test2.txt
!
!
! Test łączenia z wykluczeniem paru linijek
@include test1 + https://raw.githubusercontent.com/FiltersHeroes/ScriptsPlayground/master/SFLB_Test/test2.txt - exclusions
!
!
!
! Testy-4
@include test4
!
!
! Testy-5
@include test5
!
!
! Dołączenie listy uzupełniającej do uBlocka Origin i AdGuarda, by użytkownicy nie musieli jej subskrybować
!#include Test_uBO_AG.txt
