name: VICHS Test

on: workflow_dispatch

jobs:
  Test:
    runs-on: ubuntu-latest
    container: ghcr.io/filtersheroes/vichs_image:latest
    steps:
      - uses: actions/checkout@v6 # pin@v2
      - name: Test
        env:
          GIT_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          NO_PUSH="true" ./scripts/VICHS.sh Test_uBO_AG.txt Test.txt
